TABLE {
    width: 50%;
}
TD.content {
    text-align: left;
    background: #f0ebe4;
    padding: 20px;
}
TD.cv {
    text-align: center;
    vertical-align: center;
    font-size: 20px;
    font-style: inherit;
    width: 200px;
    background: #3c639c;
    color: #fff;
}
TD.photo {
    width: 200px;
    height: 200 px;
    vertical-align: center;
    horiz-align: center;
}